//- carousel caption
mixin carousel-caption(item)
    .carousel-content.container
            .carousel-caption.d-md-block.text-left
                unless !item.h5
                    h5.mb-3.staggered-animation.font-weight-light.animated.duration-0-5.slideInLeft #{item.h5}
                unless !item.h2
                    h2.staggered-animation.animated.slideInLeft #{item.h2} 
                unless !item.button
                    a.btn.btn-fill-out.rounded-0.staggered-animation.text-uppercase.animated.duration-1-5.slideInLeft(href=item.button.url) #{item.button.caption}
//- carousel
mixin carousel(id,items)
    .carousel.slide.carousel-fade(id=id,data-ride="carousel")
        //- Indicators
        //- ol.carousel-indicators
        //-     each item,index in items
        //-         if(index === 0)
        //-             li.active(data-target="#" + id, data-slide-to=index)
        //-         else
        //-             li(data-target="#" + id, data-slide-to=index)
        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each item,index in items
                if(index === 0)
                    .carousel-item.background_bg.active(style="background-image:url(" + item.image + ")")
                        +carousel-caption(item)
                else
                    .carousel-item.background_bg(style="background-image:url(" + item.image + ")")
                        +carousel-caption(item)
        //-  Controls
        a.carousel-control-prev(href="#carouselFade" role="button" data-slide="prev")
            span.lnr.lnr-chevron-left
        a.carousel-control-next(href="#carouselFade" role="button" data-slide="next")
            span.lnr.lnr-chevron-right


	
                              


                       