//-  items - pages in array, e.g. (['Main page', 'News'])
//-  last - last active page in span, e.g. (['Main page', 'News'], 'News detail')
mixin breadcrumb(items, last, title)
    .breadcrumb
        .container 
            .row 
                .title.col-md-6.col-sm-12
                    h1= title
                .breadcrumb__content.col-md-6.col-sm-12
                    ul.breadcrumb__list&attributes(attributes)
                        each item in items
                            li.breadcrumb__item
                                //- if breadcrumb is single
                                if (items.length === 1)
                                    span.breadcrumb__link= item
                                else
                                    a(href="#" title=item).breadcrumb__link= item

                        if last
                            li.breadcrumb__item
                                span.breadcrumb__link-current= last
                        //- else
mixin bannerCarousel(background-image,title, desc, href, text-button, dots, next, prev)
     .banner.banner-carousel
        #carouselFade.carousel.slide.carousel-fade
            .carousel-inner
                .carousel-item.background_bg(style=background-image)
                    .carousel-caption.d-md-block.text-left
                        h5&attributes(attributes)= title
                        h2&attributes(attributes)= desc
                        a(href=href)&attributes(attributes)= text-button
                a(href=href)&attributes(attributes)
                    span&attributes(attributes)


                       