//

    Mixin product(imgsrc, title, tag,  discountPrice, originalPrice, saleOff)

    1. imgsrc - source of image in images/mixin/product Ex: product_img1.jpg, product_img2.jpg
    2. title - name of the product Ex: Blue Dress For Woman, Lether Gray Tuxedo
    3. tag - tag type sale/hot/new of the product, if there is not tag, use "_"
    =========== DO NOT NEED DOLLAR SIGN $ or PERCENTAGE % with Price ==================
    4. discountPrice - final price after discount Ex: 45.00
    5. originalPrice - original price of product Ex: 55.25
    6. saleOff - % sale off Ex: 35, 15, 20

    Use col to contain this mixin
    ====================================================================================
    Sample 1: 

    include ../../../mixin/product.pug
    .col-lg-3.col-md-4.col-6
        +product("product_img1.jpg","Blue Dress For Woman", "sale", "45.00", "55.25", "35")

    Sample 2: Product with no tag

    include ../../../mixin/product.pug
    .col-lg-3.col-md-4.col-6
        +product("product_img2.jpg","Lether Gray Tuxedo", "_" , "55.00", "65.25", "15")


mixin product(imgsrc="product_img1.jpg", title="Blue Dress For Woman", tag="",  discountPrice="00.00", originalPrice="00.00", saleOff="")
    .product
        - const tagProduct = tag.toLowerCase();
        if (tagProduct == "hot")
            span.product__tag.bg-danger= "hot"
        else if (tagProduct == "sale")
            span.product__tag.bg-success= "sale"
        else if (tagProduct == "new")
            span.product__tag= "new"

        .product__img
            img(src="assets/images/mixin/product/" + imgsrc, alt="")
            .product__actions.position-absolute
                ul.product__actions-list.d-flex.justify-content-center.align-items-center.m-0
                    li.product__actions-item
                        a(href="#").action.d-flex.justify-content-center.align-items-center
                            i.ti-shopping-cart
                    li.product__actions-item
                        a(href="#").action.d-flex.justify-content-center.align-items-center
                            i.ti-control-shuffle
                    li.product__actions-item
                        a(href="#").action.d-flex.justify-content-center.align-items-center
                            i.ti-zoom-in
                    li.product__actions-item
                        a(href="#").action.d-flex.justify-content-center.align-items-center
                            i.ti-heart
        .product__description.p-3
            h6.product__title 
                a(href="#")= title
            .product__price.mb-2
                span.price  $#{discountPrice}
                del.ml-1.mr-1 $#{originalPrice}
                if (saleOff != "")
                    span.sale  #{saleOff}% Off
            .product__rating.d-flex.align-items-center.position-relative
                .stars-outer
                    .stars-inner.w-75
                span.numbers-rating.ml-1 (21)
            ul.nav(role="tablist").product__color-switch
                li.nav-item
                    a.color-option.nav-link.active#arrival-tab.color-product-1(href="#",data-toggle="tab",role="tab") 
                li.nav-item
                    a.color-option.nav-link#sellers-tab.color-product-2(href="#",data-toggle="tab",role="tab") 
                li.nav-item
                    a.color-option.nav-link#featured-tab.color-product-3(href="#",data-toggle="tab",role="tab")